<h1>You are a {{age}} year old {{nationality}}.<br>Input your text below, {{name}}.</h1>
<form method="POST" action="counter">
    {% csrf_token %}
    <textarea name="texxxt" rows="25" cols="50"></textarea><br>
    <input type="submit">
</form>
<img src="http://cdn130.picsart.com/248304754020202.jpg" alt="Girl in a jacket" width="200" height="200">

<!DOCTYPE html>
<html lang="en">
<head>
<title>Page Title</title>
</head>
<body style="background-color: powderblue;">

    <blockquote cite="http://www.worldwildlife.org/who/index.html">
        For 50 years, WWF has been protecting the future of nature.

    </blockquote>

    <h2>Absolute URLs</h2>
    <p><a href="https://www.w3.org/">W3C</a></p>
    <p><a href="https://www.google.com/">Google</a></p>

    <h2>Relative URLs</h2>
    <p><a href="html_images.asp">HTML Images</a></p>
    <p><a href="/css/default.asp">CSS Tutorial</a></p>
    
    <address>
        Written by John Doe.<br>
        Visit us at:<br>
        Example.com<br>
        Box 564, Disneyland<br>
        USA
    </address>
    

    <p>WWF's goal is to: <q>Build a future where people live in harmony with nature.</q></p>
    <p><abbr title="World Health Organization">WHO</abbr></p>
    <a href="https://www.w3schools.com/" target="_top">Visit W3Schools!</a>

    <h1 style="font-size: 20px; color: #7FFF00; ">Heading 1</h1>
    <h1 style="font-size:20px;">This is a Heading</h1>
    <hr>
    <p>
        <a title="i am tooltip 1" href="https://www.w3schools.com">www.w3schools.com</a>
        <br>
        <a title="i am tooltip 2" href="https://www.facebook.com">www.facebook.com</a>
    </p><hr>

    <p>Cite: <cite>xyz</cite></p>
    <bdo dir="rtl">This text will be written from right to left</bdo>

    <p style="border: 2px ridge rgb(255,0,2); color: #ff006e; "><ins>Para para para <sub>para</sub> para <sup>paradise</sup></ins></p>

    <p style="border: 2px solid Tomato; color: purple; font-size: 20px; background-color: powderblue; text-align: center " title="i am tooltip 0">This is a paragraph.</p>

    <
    <pre style="text-align:right;">
      My Bonnie lies over the ocean.

      My Bonnie lies over the sea.

      My Bonnie lies over the ocean.

      Oh, bring back my Bonnie to me.
    </pre>

    <hr>
    <a style="font-size:250%;color:yellow;" href="https://www.quora.com">www.quora.com</a>
    <br>
    <img src="C:\Users\sinha\OneDrive\Desktop\BLR\IMG_20181017_112401_HHT.jpg" alt="W3Schools.com" width="104" height="142">

    <p>trying <br><br> break</p>
    >

</body>
</html>